
$dark-color: #000;
$white-color: #fff;
$back-color: #efefef;
$chekmark : #eee;
$chekmark-hover: #ccc;
$browser-context: 16; 

@function rem($pixels, $context: $browser-context) 
  @return #{$pixels/$context}rem;

  


* 
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: rem(19);

li
  display: inline-block;



img 
  display: block;
  width: 100%;
  height: auto;

a 
  color: $dark-color;

.nav-wrapper
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: rem(20);


.dropdown-content
  display: none
  font-size: rem(18);
  cursor: pointer;
  z-index: 10;


  
.dropdown-button
  border: none;
  background-color: $white-color;
  font-size: rem(24);
  cursor: pointer;
  padding: rem(10);



.dropdown
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .dropdown-label
    position: absolute;
    top: 0 ;
    right: 0 ;
    background-color: $dark-color;
    border-radius: 50%;
    width: rem(18);
    height: rem(18);
    text-align: center;
    color: $white-color;
    font-size: 14px;
    line-height: 1.5;
  &:hover
    .dropdown-button
      background-color: #000;
      color: $white-color;
      transition: 0.3s;
    .dropdown-label
      background-color: $white-color;
      color: $dark-color;




    .dropdown-content
      display: flex;
      flex-direction: column;
      position: absolute
      top: rem(45);
      text-align: center;
      width: 100%;
      text-align: center;
      background-color: $back-color;
      li
        padding: rem(5);
        a
          display: inline;
          padding: rem(5);
      a:hover
        background-color: $dark-color;
        color: $white-color;
        transition: 0.3s;

.home-page
  section
    position: relative;
    padding-bottom: rem(10);

  
.home-page-text
  position: absolute;
  top: 7%;
  font-size: rem(50);
  width: 100%;
  text-align: center;
  span 
    color: $white-color;
    font-size: rem(50);

.home-page-insta
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  a 
    flex-basis: rem(300);
    margin-bottom: rem(30);
    color: $dark-color;
    text-align: center;
    text-decoration: underline;

button
  font-size: rem(12);
  border: 1px solid $dark-color;
  background-color: $white-color;
  padding: rem(5);
  cursor: pointer;
  &:hover
    background-color: $dark-color;
    color: $white-color;
    transition: 0.3s;
    cursor: pointer;

.disabled
  background-color: $back-color;
  &:hover
    background-color: $back-color;
    color: $dark-color;

.search-page
  display: flex;
  justify-content: space-between;
  padding: 0 rem(10);
.product-list-wrapper
  width: 80%;
  .product-card
    width: 22%;
    margin: rem(10);
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover
      transform: scale(1.03);
    .product-card-brand
      padding: rem(5);
    .product-card-info
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(10) rem(10);
    li 
      display: block;
      text-align: center;
      &:nth-of-type(n+2)
         border-left: 1px solid $dark-color;
         border-right: 1px solid $dark-color;
      &:nth-of-type(3)
        padding-bottom: rem(10);
        border-bottom: 1px solid $dark-color;

      p 
        text-align: center;



.filter-section
  display: flex;
  flex-direction: column;
  width:  12%;
  padding-left: rem(48);
  padding-top: rem(9);

.filter-section-heading
  padding-bottom: rem(12);


//////////////////// input chekbox ///////////////

.filter-section-container 
  display: inline;
  position: relative;
  padding-left: rem(35);
  font-size: rem(22);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: rem(12);
  label
    cursor: pointer;


.filter-section-container  input 
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;


.checkmark 
  position: absolute;
  top: 0;
  left: 0;
  height: rem(25);
  width: rem(25);
  background-color: $chekmark ;


.filter-section-container:hover input ~ .checkmark 
  background-color: $chekmark-hover;

.filter-section-container  input:checked ~ .checkmark 
  background-color: $dark-color;


.checkmark:after 
  content: "";
  position: absolute;
  display: none;


.filter-section-container  input:checked ~ .checkmark:after 
  display: block;

.filter-section-container  .checkmark:after 
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  //////////////////////////////////////////////////////////////////////////////

.rc-slider-track, .rc-slider-track-1
   background-color:  $dark-color;

.rc-slider-handle
  border: solid 2px $dark-color;

.price-range-info
  padding-bottom:  rem(7) ;

#added-button
  background-color: $back-color;
  &:hover
    color: $dark-color;

.product-list-pagination
  text-align: center;
  padding-top: rem(20);
  padding-bottom: rem(35);

.product-item
  padding: rem(20);
  display: flex;
  justify-content: center;
  img 
    width: 30%;

.product-item-list
  display: flex;
  flex-direction: column;
  li
    padding: rem(10) rem(40);

.comments
  p 
    padding-left: rem(180);

.basket
  padding: rem(40);
  text-align: center;
  h3 
    padding-bottom: rem(20);


.basket-list
  display: flex;
  align-items: center;
  padding-bottom: rem(20);
  li:nth-of-type(6)
    flex: 2;
    display: flex;
  li:nth-of-type(7)
    flex: 2;
  li
    padding-right: rem(50);  
    flex: 1;
    input 
      width: 40%;
      text-align: center;

.basket-user-data
  display: flex;
  flex-direction: column;
  input,button
    margin: rem(15) auto;
    width: 25%;

::placeholder 
  font-size: 14px;

.order-sended
  padding: rem(40);
  text-align: center;

//////////////////css loader /////////   
.lds-default 
  margin-top: rem(40);
  display: inline-block;
  position: relative;
  width: rem(80);
  height: rem(80);

.lds-default div 
  position: absolute;
  width: rem(6);
  height: rem(6);
  background: $dark-color;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;

.lds-default div:nth-child(1) 
  animation-delay: 0s;
  top: rem(37);
  left: rem(66);

.lds-default div:nth-child(2) 
  animation-delay: -0.1s;
  top: rem(22);
  left: rem(62);

.lds-default div:nth-child(3) 
  animation-delay: -0.2s;
  top:  rem(11);
  left:  rem(52);

.lds-default div:nth-child(4) 
  animation-delay: -0.3s;
  top:  rem(7);
  left:  rem(37);

.lds-default div:nth-child(5) 
  animation-delay: -0.4s;
  top:  rem(11);
  left:  rem(22);

.lds-default div:nth-child(6) 
  animation-delay: -0.5s;
  top: rem(22);
  left: rem(11);

.lds-default div:nth-child(7) 
  animation-delay: -0.6s;
  top: rem(37);
  left: rem(7);

.lds-default div:nth-child(8) 
  animation-delay: -0.7s;
  top: rem(52);
  left: rem(11);

.lds-default div:nth-child(9) 
  animation-delay: -0.8s;
  top: rem(62);
  left: rem(22);

.lds-default div:nth-child(10) 
  animation-delay: -0.9s;
  top: rem(66);
  left: rem(37);

.lds-default div:nth-child(11) 
  animation-delay: -1s;
  top: rem(62);
  left: rem(52);

.lds-default div:nth-child(12) 
  animation-delay: -1.1s;
  top: rem(52);
  left: rem(62);

@keyframes lds-default 
  0%, 20%, 80%, 100% 
    transform: scale(1);
  
  50% 
    transform: scale(1.5);
  
